body {
  margin: 0;
  padding: 0;
  height: 150vh;
}

.nav-bar {
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: pink;
}

.grid-container{
  display: grid;
  width: 100%;
  margin-top: 1%;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
}

.item1{
  padding-left: 2%;
}

.grid-item2{
 text-align: center;
}

.txt{
width: 80%;
height: 80%;
}

.btn{
  height: 80%;
}


.grid-item3{
  text-align: right;
 }

.icon1{
  margin-right: 7%;
}

.icon2{
  margin-right: 7%;
}

.icon3{
  margin-right: 7%;
}


