body {
  margin: 0;
  padding: 0;
  /* height: 150vh; */
  background-color: #f9f9f9c2;
}

.nav-bar {
  position: fixed;
  height: 8vh;
  width: 100%;
  background: linear-gradient(to right, #81bae6, yellow);
}

.grid-container {
  display: grid;
  width: 100%;
  margin-top: 1%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.item1 {
  padding-left: 2%;
}

.grid-item2 {
  text-align: center;
}

.txt {
  width: 80%;
  height: 80%;
}

.btn {
  height: 80%;
}

.grid-item3 {
  text-align: right;
}

.icon1 {
  margin-right: 7%;
}

.icon2 {
  margin-right: 7%;
}

.icon3 {
  margin-right: 7%;
}

.main-container {
  display: grid;
  margin-top: 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

.video-container {
  grid-column: 1/3;
  /* grid-column-start: 1;
	grid-column-end: 3; */
  grid-row: 1/4;
  /* grid-row-start: 1;
	grid-row-end: 4; */
  display: grid;
  /* justify-content: center; */
  /* align-content: center; */
  height: auto;
  width: auto;
}
/* .video-details {
	margin-bottom: 13%;
	height: 50%;
} */

.video-details {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}
.video-grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
}

h1,
p {
  color: #030303;
}
.info1 {
  font-size: 1.6rem;
  font-weight: bold;
}
.info2 {
  font-size: 1rem;
  margin-left: 2%;
  color: red;
}

.ic-container {
  display: flex;
}
/* p {
	display: inline;
	margin-right: 49%;
} */

/* .ic-container {
	display: inline;
} */

/* .like {
	margin-right: 20%;
}*/

/*.dislike {
	/* margin-right: 10%; */
/* margin-left: 3%; */

/*.share {
	margin-right: 20%;
} */

.tooltip {
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: right;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* .thumbnail-container {
	display: grid;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
} */
.thumbnail-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-column: 3/4;
  grid-row: 1/4;
}

.thumbnail-item {
  height: 20%;
}
.thubnail-videos {
  display: flex;
  margin-left: 3%;
}

.thumbnail-container .thumbnail-item h1,
h5 {
  text-align: center;
}
.pclass {
  width: 15%;
  height: 10%;
}

.avatar-container {
  display: flex;
  column-gap: 5%;

  /* grid-template-columns: repeat(3, 1fr); */
  /* width: 100%; */
  /* grid-column: 1/4; */

  /* grid-template-columns: 1fr; */
  /* grid-column-start: 1;
	grid-column-end: 2; */
}

.name {
  padding-top: 10%;
}
.avt-grid1 {
  display: grid;
  width: 100%;
  /* grid-column-start: auto; */
  grid-column: 1/3;
}
.avt-grid2 {
  display: grid;
  grid-column: 3/5;
}

.avatr {
  border-radius: 70%;
  margin-left: 2%;
  margin-top: 7%;
  width: 25%;
}
.subscribe {
  float: right;
  background-color: red;
  border: 2px solid black;
  padding: 2%;
  color: white;
}

.foter {
  margin-top: 25%;
  height: 20vh;
  text-align: center;
  background-color: grey;
}
